<div class="row">
  <div
    *ngFor="let product of products"
    class="d-flex col-md-4 col-sm-6 mb-2 align-items-stretch"
  >
    <mat-card id="mat-card">
      <img
        mat-card-image
        [src]="product.img"
        (click)="selectProduct(product.id)"
      />
      <mat-card-title> {{ product.name | uppercase }} </mat-card-title>
      <mat-card-content>
        {{ product.description | description }}
      </mat-card-content>
      <hr />
      <p>{{ product.price | currency: "COP":"symbol":"4.0-2" }}</p>
      <mat-card-actions class="align-self-end">
        <button
          mat-stroked-button
          [color]="product.quantity < 1 ? 'warn' : 'primary'"
          (click)="AddProduct(product.id)"
          [disabled]="product.quantity < 1"
        >
          {{ product.quantity < 1 ? "Agotado" : "Comprar" }}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
