<section class="section">
  <div class="container">
    <h1>Nuevos Productos</h1>
    <app-card *ngIf="products.length > 0" [products]="products"></app-card>
    <!-- <mat-card class="mb-2 ml-2" id="mat-card">
          <img mat-card-image [src]="product.img" />
          <mat-card-title> {{ product.name }} </mat-card-title>
          <mat-card-content>
            {{ product.description | description }}
          </mat-card-content>
          <hr />
          <p>{{ product.price }}</p>
          <mat-card-actions>
            <button mat-stroked-button color="primary">comprar</button>
          </mat-card-actions>
        </mat-card> -->
  </div>
</section>
