<section class="container">
  <div class="row">
    <!-- Filter Input Search -->
    <div>
      <div class="form-inline mr-2">
        <mat-form-field class="example-full-width">
          <mat-label>Producto</mat-label>
          <input
            matInput
            value=""
            #txtSearch
            (keyup)="SearchProductForName(txtSearch.value)"
          />
        </mat-form-field>
        <button
          class="ml-2"
          mat-stroked-button
          color="primary"
          (click)="SearchProductForName(txtSearch.value)"
        >
          Buscar
        </button>
      </div>
    </div>
    <!-- Filter categories -->
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Categorias</mat-label>
        <mat-select
          [(ngModel)]="this.productsService.selectedCategory"
          (selectionChange)="filterFor('categories', $event.value)"
          name="category"
        >
          <mat-option [value]="" (click)="clearSelectedCategory()">
            <b>Todas las Categorias</b>
          </mat-option>
          <mat-option
            *ngFor="let category of categoriesData"
            [value]="category.id"
          >
            {{ category.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- Filter Quantity -->
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Cantidad</mat-label>
        <mat-select
          [(ngModel)]="this.productsService.selectedQuantity"
          (selectionChange)="filterFor('quantity', $event.value)"
          name="qauntity"
        >
          <mat-option [value]="" (click)="clearSelectedQuantity()">
            <b>Todas las cantidades</b>
          </mat-option>
          <mat-option
            *ngFor="let quantity of itemsQuantity"
            [value]="quantity.id"
          >
            {{ quantity.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- Type -->
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Tipos</mat-label>
        <mat-select
          [(ngModel)]="this.productsService.selectedType"
          (selectionChange)="filterFor('types', $event.value)"
          name="type"
        >
          <mat-option [value]="" (click)="clearSelectedType()">
            <b>Todos los Tipos</b>
          </mat-option>
          <mat-option *ngFor="let type of itemsType" [value]="type.id">
            {{ type.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</section>
