/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: aquamarine;
}

/* pages product */

.product-name {
  text-transform: uppercase;
  font-size: 18px;
}
.add-to-cart {
  margin-bottom: 30px;
}
.qty-label {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  margin-right: 15px;
  margin-bottom: 0px;
}

/*-- Number input --*/

.input-number {
  position: relative;
  margin: 0;
}

.input-number input[type="number"] {
  -moz-appearance: textfield;
  height: 40px;
  width: 100%;
  border: 1px solid #e4e7ed;
  background-color: #fff;
  padding: 0px 35px 0px 15px;
}

.input-number .qty-up,
.input-number .qty-down {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #e4e7ed;
  background-color: #fff;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
}

.qty-up {
  right: 0;
  top: 0;
  border-bottom: 0px;
}

.qty-down {
  right: 0;
  bottom: 0;
}

.qty-up:hover,
.qty-down:hover {
  background-color: #e4e7ed;
  color: #d10024;
}
