/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
a,
a:hover {
  text-decoration: none;
  color: #fff;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* pages product */
.Products {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 5fr;
  grid-gap: 0.5em;
}
.Products aside {
  height: 100%;
  max-width: 232px;
  min-width: 232px;
  padding-left: 1em;
  background: rgba(0, 0, 0, 0.1);
}
.product-name {
  text-transform: uppercase;
  font-size: 18px;
}
.add-to-cart {
  margin-bottom: 30px;
}
.qty-label {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  margin-right: 15px;
  margin-bottom: 0px;
}
/* page cart */
.img-cart {
  cursor: pointer;
  max-width: 350px;
}
/*-- Number input --*/

.input-number {
  position: relative;
  margin: 0;
}

.input-number input[type="number"] {
  -moz-appearance: textfield;
  height: 40px;
  width: 100%;
  border: 1px solid #e4e7ed;
  background-color: #fff;
  padding: 0px 35px 0px 15px;
}

.input-number .qty-up,
.input-number .qty-down {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #e4e7ed;
  background-color: #fff;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
}

.qty-up {
  right: 0;
  top: 0;
  border-bottom: 0px;
}

.qty-down {
  right: 0;
  bottom: 0;
}

.qty-up:hover,
.qty-down:hover {
  background-color: #e4e7ed;
  color: #d10024;
}

/*  header */
.header {
  background-color: #15161d;
  padding-top: 15px;
  padding-bottom: 15px;
}
/* logo */

.logo:hover {
  cursor: pointer;
}
/* Search h2 */
.search {
  margin-bottom: 0;
  padding-bottom: 0;
}
.mat-form-field-infix {
  padding: 0.5em 0;
  border-top: 0 !important;
}
/* cart */

.cart-dropdown {
  position: relative;
  display: inline-block;
  color: #fff;
}

.cart-dropdown a {
  display: inline-grid;
}
.cart-dropdown .qty {
  position: absolute;
  top: -10px;
  left: 25px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  font-size: 10px;
  color: #fff;
  background-color: #d10024;
}
.cart-dropdown:hover {
  cursor: pointer;
  border-bottom: 1px solid #fff;
}
/* cart */
table {
  width: 100%;
}
/* button delete product */
.btn-delete {
  color: #d10024;
  margin-right: 3px;
}
/* checkout page */
.checkout {
  width: 80%;
  margin: auto;
}
.your-Order {
  padding: 0.5em;
  border: 1px solid #c2c2c2;
  border-radius: 10px;
}
.list-products {
  font-size: 1.2em;
}
.item-total {
  font-weight: bold;
  font-size: 1.5em;
}

@media (max-width: 765px) {
  .checkout {
    width: 90%;
  }
}

.billing-address .mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 265px;
}
